@font-face {
    font-family: 'Hanken-Grotesk';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hanken-Grotesk';
}

:root {
    --transparent-white: hsl(242, 100%, 95%);
    --Light-red: 0, 100%, 67%;
    --Orangey-yellow: 39, 100%, 56%;
    --Green-teal: 166, 100%, 37%;
    --Cobalt-blue: 234, 85%, 45%;
    --dark-grey: hsl(224, 30%, 27%);
    --medium-grey: hsl(223, 15%, 62%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
}

html {
    font-size: 16px;
}
@media (max-width:550px) {
    html {
      font-size: clamp(0px, 100%, 2.5vw);
    }
    .status-box {
        padding: 0 10px !important;
    }
    .status-box > div {
        gap: 2px;
    }
    .status-box > div > img {
        width: 15px !important;
    }
  }

body {
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
    background-color: #fff;
    width: 655px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

main > section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
}

#result-section {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 25px;
}

#result-section > h1 {
    font-size: 1.35rem;
    color: var(--transparent-white);
}

#result-section > #grades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 75%;
    aspect-ratio: 1;
    border-radius: 50%;

    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#result-section > #grades > #grade-result {
    font-size: 3.9rem;
    font-weight: 800;

    color: var(--Pale-blue);
}

#result-section > #grades > #grade-total {
    color: #ffffff62;
}

#result-section > #description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-section > #description > h2{
    padding-bottom: 12px;

    font-size: 1.8rem;
    text-align: center;
    color: var(--Pale-blue);
}

#result-section > #description > p{
    max-width: 90%;
    text-align: center;
    color: var(--transparent-white);
}


#summary-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#summary-section h2 {
    color: var(--dark-grey);
}

#summary-section > * {
    width: 100%;
}

#summary-section > #status-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 65%;

    margin-bottom: 15px;
}

.status-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 20%;
    padding: 0 18px;
    border-radius: 10px;

    font-weight: 600;

    color: hsla(var(--Light-red), 100%);
    background-color: hsla(var(--Light-red), 10%);
}
.status-box + .status-box {
    color: hsla(var(--Orangey-yellow), 100%);
    background-color: hsla(var(--Orangey-yellow), 10%);
}
.status-box + .status-box + .status-box{
    color: hsla(var(--Green-teal), 100%);
    background-color: hsla(var(--Green-teal), 10%);
}
.status-box + .status-box + .status-box + .status-box{
    color: hsla(var(--Cobalt-blue), 100%);
    background-color: hsla(var(--Cobalt-blue), 10%);
}
.status-grade {
    background-color: transparent !important;
    color: var(--dark-grey) !important;
}
.status-grade > span {
    background-color: transparent !important;
    color: var(--medium-grey);
}
.status-box > div {
    display: flex;
    gap: 15px;
}
.status-box > div > img {
    width: 18px;
}

#summary-section #submit-button{
    all: unset;
    width: 100%;
    height: 12%;

    text-align: center;
    border-radius: 150px;

    background-color: var(--dark-grey);
    color: #fff;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}